In [1]:
import numpy as np
import pandas as pd
import csv
df=pd.read_csv('blackfriday.csv')
df.head(10)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227
5,1000004,M,46-50,7.0,B,2,1,19215
6,1000004,M,46-50,7.0,B,2,1,15854
7,1000004,M,46-50,7.0,B,2,1,15686
8,1000005,M,26-35,20.0,A,1,1,5254
9,1000005,M,26-35,20.0,A,NaN,1,3957

In [89]:
df.shape

(4864, 8)

In [21]:
import pandas as pd
import numpy as np
import csv
# I. Load data
df = pd.read_csv("blackfriday.csv")

# Write code here
co=list(df.columns[df.isnull().any()])
col= [co[x:x+1] for x in range(0, len(co))]
n=len(col)
with open("output.csv", "w") as out:
    writer = csv.writer(out)
    # Write the rows here
    writer.writerow(str(n))
    for i in range(0,n):
        writer.writerow(col[i])

[['Occupation'], ['Stay_In_Current_City_Years']]

## To find the specific number of rows containing null(Nan)  in dataframe

In [82]:
df.loc[pd.isnull(df).any(1),:]

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
9,1000005,M,26-35,20.0,A,NaN,1,3957
10,1000005,M,26-35,NaN,A,1,1,6073
27,1000010,F,36-45,NaN,B,4+,1,10946
41,1000012,M,26-35,12.0,C,NaN,0,6865

In [12]:
d=pd.isnull(df).any()
for col in df.columns:
    if d[col]== True:
        print([col])

['Occupation']
['Stay_In_Current_City_Years']

In [79]:
col=list(df.columns[df.isnull().any()])
chunks = [col[x:x+1] for x in range(0, len(col))]
chunks

[['Occupation'], ['Stay_In_Current_City_Years']]

In [13]:
from statistics import math
f=list()
mod=list(df['Purchase'].mode())
mode=[mod[x:x+1] for x in range(0, len(mod))]
#for j in range(0,len(f)):
 #       print(str(f[j]))
f.append(mode)

[[6884], [7187]]

In [118]:
mean=[round(df['Purchase'].mean(),2)]
mean

[9281.19]

In [24]:
#csv.register_dialect('myDialect',delimiter = '|',quotechar = '"',quoting=csv.QUOTE_ALL,skipinitialspace=True)
b=[]
b.append([np.round(np.mean(df['Purchase']),2)])
b.append([np.round(np.median(df['Purchase']),2)])
c=[]
mod=list(df['Purchase'].mode())
mode=[mod[x:x+1] for x in range(0, len(mod))]
with open("output.csv", "w") as out:
    writer = csv.writer(out)
    # Write the rows here
    for i in range(0,len(b)):
        writer.writerow(b[i])
    for j in range(0,len(mode)):
        writer.writerow(mode[j])

In [117]:
n=[np.round(np.mean(df['Purchase']),2)]
n

[9281.19]

In [163]:
df['Purchase'].mean()

9281.188527960527

In [158]:
[df['Purchase'].skew()]

[0.6284598025767167]

In [160]:
[df['Purchase'].kurtosis()]

[-0.29939807376509187]

In [156]:
df['Purchase'].var()

24234755.087830495

In [157]:
df['Purchase'].std()

4922.880771238574

In [16]:
b=[]
b.append([np.round(df['Purchase'].var(),2)])
b.append([np.round(df['Purchase'].std(),2)])
b.append([np.round(df['Purchase'].skew(),2)])
b.append([np.round(df['Purchase'].kurtosis(),1)])
with open("output.csv", "w") as out:
    writer = csv.writer(out, delimiter=",")
    # Write the rows here
    for i in range(0,len(b)):
        writer.writerow(b[i])

In [15]:
s=sorted(df['Purchase'])
q1, q3= np.percentile(s,[25,75])
iqr = q3 - q1
lower_bound = q1 -(1.5 * iqr) 
upper_bound = q3 +(1.5 * iqr)
t=[]
for i in df['Purchase']:
    if ((i<lower_bound) or (i>upper_bound)):
        t.append(i)
with open("output.csv", "w") as out:
    writer = csv.writer(out)
    # Write the rows here
    writer.writerow([round(iqr,1)])
    writer.writerow([len(t)])

In [185]:
t

[]

In [173]:
len(s)

4864

In [174]:
print(q1)
print(q3)

5878.75
12011.25

In [166]:
lower_bound

-3320.0

In [167]:
upper_bound

21210.0

In [168]:
iqr

6132.5

In [175]:
from scipy.stats import iqr
iqr(df['Purchase'])

6132.5

In [116]:
col=[[list(df.columns[df.isnull().any()])]]
col

[[['Occupation', 'Stay_In_Current_City_Years']]]

In [189]:
df.head(2)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200

In [28]:
pd.groupby(df['City_Category'])

AttributeError: module 'pandas' has no attribute 'groupby'

In [18]:
with open("testcaseprobability.txt", "r") as fd:
    lines = fd.read().splitlines()
only_male=df[df['Gender']=='M']
prob_male=len(only_male)/len(df)
only_female=df[df['Gender']=='F']
prob_female=len(only_female)/len(df)
q = (len(lines)+1)//2
for i in range(1,q):
    with open('output{}.csv'.format(i), 'w') as out:
        writer = csv.writer(out, delimiter=",",lineterminator="\n")
        All_par_Age=df[df.Age==lines[2*i-1]]
        prob_All_par_Age_male=len(All_par_Age[All_par_Age.Gender=='M'])/len(only_male)
        prob_All_par_Age_female=len(All_par_Age[All_par_Age.Gender=='F'])/len(only_female)
        p = (prob_All_par_Age_male*prob_male)/((prob_male*prob_All_par_Age_male)+(prob_All_par_Age_female*prob_female))
        if (p>0.5):
            writer.writerow(['Male'])
        else:
            writer.writerow(['Female'])
        p_cat=df[df['City_Category']==lines[2*i]]
        p2=len(p_cat)/len(df)
        writer.writerow([str(round(p2,4))])

In [6]:
df.head(1)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370

In [4]:
import pandas as pd
import csv

df = pd.read_csv("blackfriday.csv",sep=",")
f = open("testcaseprobability.txt")
numberoftestcases = f.readline()

for item in range(int(numberoftestcases.strip())):
    age = f.readline()
    city = f.readline()
    df1 = df[df['Age']== age.strip()]
    gender = df1['Gender'].mode()
    if gender.to_string(index=False).strip() == 'M':
        gender = 'Male'
    else:
        gender = 'Female'
    city_count = df[df["City_Category"]==city.strip()]['City_Category'].count()
    tot_count = df['City_Category'].count()
    prob = round((city_count/tot_count),4)
    with open("output"+str(item+1)+".csv", "w") as out:
        writer = csv.writer(out, delimiter=",")
        writer.writerow([gender])
        writer.writerow([str(prob)])