In [106]:
import numpy as np
import pandas as pd
df=pd.read_json(r'C:\Users\hp\Desktop\edureka\assignments\training-NewsArticles\NewsArticles.json')
print(df.shape)
df.head()

(179, 3)

,Article,Preprocessed-Article,Vector
0,Musical treatment for Capra film\n\nThe classi...,Musical treatment Capra film The classic film ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,Spark heads world Booker list\n\nDame Muriel S...,Spark heads world Booker list Dame Muriel Spar...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
10,Artists' secret postcards on sale\n\nPostcards...,Artists secret postcards sale Postcards artis...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
100,Chepkemei joins Edinburgh line-up\n\nSusan Che...,Chepkemei joins Edinburgh lineup Susan Chepkem...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
101,El Guerrouj targets cross country\n\nDouble Ol...,El Guerrouj targets cross country Double Olymp...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [107]:
#df.select_dtypes(include=['int64'])

In [108]:
df.iloc[0,0]

'Musical treatment for Capra film\n\nThe classic film It\'s A Wonderful Life is to be turned into a musical by the producer of the controversial hit show Jerry Springer - The Opera.\n\nFrank Capra\'s 1946 movie starring James Stewart, is being turned into a £7m musical by producer Jon Thoday. He is working with Steve Brown, who wrote the award-winning musical Spend Spend Spend. A spokeswoman said the plans were in the "very early stages", with no cast, opening date or theatre announced.\n\nA series of workshops have been held in London, and on Wednesday a cast of singers unveiled the musical to a select group of potential investors. Mr Thoday said the idea of turning the film into a musical had been an ambition of his for almost 20 years. It\'s a Wonderful Life was based on a short story, The Greatest Gift, by Philip van Doren Stern. Mr Thoday managed to buy the rights to the story from Van Doren Stern\'s family in 1999, following Mr Brown\'s success with Spend Spend Spend. He later secured the film rights from Paramount, enabling them to use the title It\'s A Wonderful Life.\n'

In [109]:
df.iloc[0,1]

'Musical treatment Capra film The classic film It A Wonderful Life turned musical producer controversial hit show Jerry Springer  The Opera  Frank Capra 1946 movie starring James Stewart  turned £7m musical producer Jon Thoday  He working Steve Brown  wrote awardwinning musical Spend Spend Spend  A spokeswoman said plans  early stages   cast  opening date theatre announced  A series workshops held London  Wednesday cast singers unveiled musical select group potential investors  Mr Thoday said idea turning film musical ambition almost 20 years  It Wonderful Life based short story  The Greatest Gift  Philip van Doren Stern  Mr Thoday managed buy rights story Van Doren Stern family 1999  following Mr Brown success Spend Spend Spend  He later secured film rights Paramount  enabling use title It A Wonderful Life '

In [110]:
from collections import Counter
l=df.iloc[0,2]
Counter(l)

Counter({0.0: 8785,
         0.0876407994: 10,
         0.0730394847: 8,
         0.051765919300000005: 2,
         0.0501710651: 2,
         0.052627493500000004: 1,
         0.1132644996: 1,
         0.057813178300000004: 2,
         0.1752815989: 3,
         0.14026829300000002: 1,
         0.0811796147: 2,
         0.0604752256: 2,
         0.0535383267: 2,
         0.0509485482: 3,
         0.0555328317: 2,
         0.1895708065: 1,
         0.0545043947: 3,
         0.0676777181: 2,
         0.048721407800000005: 2,
         0.0690826267: 1,
         0.0636729618: 2,
         0.0735728462: 1,
         0.065549863: 1,
         0.1665984951: 1,
         0.0399030799: 1,
         0.0765953312: 3,
         0.061994016400000004: 3,
         0.101946374: 1,
         0.4208048789: 1,
         0.07013414650000001: 3,
         0.0467677101: 1,
         0.1353554361: 1,
         0.1070766534: 1,
         0.0360251788: 1,
         0.0566322498: 2,
         0.3719640985: 1,
         0.0590886782: 1,
         0.11817735650000001: 1,
         0.0497019532: 1,
         0.2629223983: 1,
         0.1209504512: 1,
         0.0387506327: 1,
         0.1460789693: 1,
         0.21911845400000002: 1,
         0.0342592663: 1})

In [111]:
df.describe()

,Article,Preprocessed-Article,Vector
count,179,179,179
unique,177,177,177
top,Edwards tips Idowu for Euro gold\n\nWorld outd...,Microsoft seeking spyware trojan Microsoft inv...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
freq,2,2,2

In [112]:
df.dtypes

Article                 object
Preprocessed-Article    object
Vector                  object
dtype: object

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 99
Data columns (total 3 columns):
Article                 179 non-null object
Preprocessed-Article    179 non-null object
Vector                  179 non-null object
dtypes: object(3)
memory usage: 10.6+ KB

In [114]:
df.columns

Index(['Article', 'Preprocessed-Article', 'Vector'], dtype='object')

In [115]:
len(df.iloc[0,2])

8868

In [116]:
np.unique(list(map(len,df['Vector'])))

array([8868])

In [118]:
#x=np.array(df['Vector'].astype(float))

In [18]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=0)
kmeans.fit()

ValueError: setting an array element with a sequence.

In [2]:
import pandas as pd
import numpy as np 
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
df=pd.read_json(r'C:\Users\hp\Desktop\edureka\assignments\training-NewsArticles\NewsArticles.json')
df.head()
det=df['Vector']
vectors=pd.DataFrame(list(det))
vectors.shape
#Kmeans without PCA
model=KMeans(n_clusters=5)
model.fit(vectors)
print ("SSE: ",model.inertia_)
#Applying PCA 
from sklearn.decomposition import PCA
pca = PCA(n_components=100)
pca.fit(vectors.transpose())
new_vectors=pd.DataFrame(pca.components_).transpose()
new_vectors.shape
#Kmeans after PCA
model_afterPCA=KMeans(n_clusters=5)
model_afterPCA.fit(new_vectors)
print ("SSE: ",model_afterPCA.inertia_)
df['LabelWithoutPCA']=model.labels_
print(df['LabelWithoutPCA'])
df['LabelAfterPCA']=model_afterPCA.labels_
for each,subset in df.groupby('LabelWithoutPCA'):
    print("For Label :",each)
    
    print( ' '.join(subset['Preprocessed-Article']).lower().encode('utf-8').split()[:50] ) 
for each,subset in df.groupby('LabelAfterPCA'):
    print("For Label :",each)
    print( ' '.join(subset['Preprocessed-Article']).lower().encode('utf-8').split()[:10] ) 
    df['LabelWithoutPCA'].value_counts()
df['LabelAfterPCA'].value_counts()

#writing output to output.csv
result=[164.37,95.68, 4, 48, 3,169, 'stages','paid']
result=pd.DataFrame(result)
#writing output to output.csv
result.to_csv('output.csv', header=False, index=False)

SSE:  165.0100320832071
SSE:  95.53092121214726
0      0
1      1
10     0
100    4
101    4
102    2
103    4
104    4
105    2
106    4
107    4
108    3
109    0
11     1
110    3
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
12     1
120    0
121    0
122    0
123    0
124    0
      ..
72     3
73     2
74     2
75     2
76     4
77     0
78     2
79     2
8      1
80     1
81     2
82     4
83     4
84     2
85     4
86     4
87     4
88     4
89     4
9      1
90     4
91     2
92     2
93     4
94     4
95     4
96     4
97     2
98     4
99     2
Name: LabelWithoutPCA, Length: 179, dtype: int32
For Label : 0
[b'musical', b'treatment', b'capra', b'film', b'the', b'classic', b'film', b'it', b'a', b'wonderful', b'life', b'turned', b'musical', b'producer', b'controversial', b'hit', b'show', b'jerry', b'springer', b'the', b'opera', b'frank', b'capra', b'1946', b'movie', b'starring', b'james', b'stewart', b'turned', b'\xc2\xa37m', b'musical', b'producer', b'jon', b'thoday', b'he', b'working', b'steve', b'brown', b'wrote', b'awardwinning', b'musical', b'spend', b'spend', b'spend', b'a', b'spokeswoman', b'said', b'plans', b'early', b'stages']
For Label : 1
[b'spark', b'heads', b'world', b'booker', b'list', b'dame', b'muriel', b'spark', b'among', b'three', b'british', b'authors', b'made', b'shortlist', b'inaugural', b'international', b'booker', b'prize', b'doris', b'lessing', b'ian', b'mcewan', b'also', b'nominated', b'mcewan', b'margaret', b'atwood', b'nominees', b'previously', b'main', b'booker', b'prize', b'the', b'new', b'\xc2\xa360000', b'award', b'open', b'writers', b'nationalities', b'write', b'english', b'widely', b'translated', b'the', b'prize', b'commends', b'author', b'body', b'work', b'instead']
For Label : 2
[b'sprinter', b'walker', b'quits', b'athletics', b'former', b'european', b'200m', b'champion', b'dougie', b'walker', b'retire', b'athletics', b'series', b'six', b'operations', b'left', b'struggling', b'fitness', b'walker', b'hoped', b'compete', b'new', b'year', b'sprint', b'staged', b'musselburgh', b'racecourse', b'near', b'edinburgh', b'tuesday', b'wednesday', b'the', b'31yearold', b'scot', b'suspended', b'two', b'years', b'1998', b'testing', b'positive', b'nandrolone', b'i', b'intended', b'race', b'i', b'running', b'like', b'goon', b'said', b'walker']
For Label : 3
[b'hewitt', b'decries', b'career', b'sexism', b'plans', b'extend', b'paid', b'maternity', b'leave', b'beyond', b'six', b'months', b'prominent', b'labour', b'election', b'manifesto', b'trade', b'industry', b'secretary', b'said', b'patricia', b'hewitt', b'said', b'cost', b'proposals', b'evaluated', b'increasingly', b'high', b'priority', b'shared', b'goal', b'across', b'government', b'ms', b'hewitt', b'speaking', b'gender', b'productivity', b'seminar', b'organised', b'equal', b'opportunities', b'commission', b'eoc', b'mothers', b'currently', b'take', b'six', b'months', b'paid']
For Label : 4
[b'chepkemei', b'joins', b'edinburgh', b'lineup', b'susan', b'chepkemei', b'decided', b'fit', b'enough', b'run', b'next', b'month', b'great', b'edinburgh', b'international', b'cross', b'country', b'the', b'kenyan', b'initially', b'unsure', b'would', b'recovered', b'gruelling', b'tussle', b'paula', b'radcliffe', b'new', b'york', b'marathon', b'time', b'compete', b'but', b'declared', b'task', b'joins', b'field', b'headed', b'world', b'cross', b'country', b'champion', b'benita', b'johnson', b'race', b'director', b'matthew', b'turnbull', b'said', b'susan']
For Label : 0
[b'finding', b'new', b'homes', b'old', b'phones', b'reusing', b'old', b'mobile', b'phones', b'good']
For Label : 1
[b'musical', b'treatment', b'capra', b'film', b'the', b'classic', b'film', b'it', b'a', b'wonderful']
For Label : 2
[b'britons', b'fed', b'net', b'service', b'a', b'survey', b'conducted', b'pc', b'pro', b'magazine']
For Label : 3
[b'edwards', b'tips', b'idowu', b'euro', b'gold', b'world', b'outdoor', b'triple', b'jump', b'record']
For Label : 4
[b'collins', b'appeals', b'drugs', b'ban', b'sprinter', b'michelle', b'collins', b'lodged', b'appeal', b'eightyear']