In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\hp\Desktop\edureka\assignments\assignment14\training-abcnews-date-text\abcnews-date-text.csv", parse_dates=['publish_date'],error_bad_lines=False)
print(df.shape)
df.head()

(1103663, 2)

  publish_date                                      headline_text
0   2003-02-19  aba decides against community broadcasting lic...
1   2003-02-19     act fire witnesses must be aware of defamation
2   2003-02-19     a g calls for infrastructure protection summit
3   2003-02-19           air nz staff in aust strike for pay rise
4   2003-02-19      air nz strike to affect australian travellers

In [4]:
df.nunique()

publish_date        5422
headline_text    1076219
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103663 entries, 0 to 1103662
Data columns (total 2 columns):
publish_date     1103663 non-null datetime64[ns]
headline_text    1103663 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.8+ MB

In [7]:
data_text = df[['headline_text']]
data_text['index'] = data_text.index
doc = data_text

In [9]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103663 entries, 0 to 1103662
Data columns (total 2 columns):
headline_text    1103663 non-null object
index            1103663 non-null int64
dtypes: int64(1), object(1)
memory usage: 16.8+ MB

In [11]:
data_text['headline_text'] = data_text['headline_text'].str.replace("[^a-zA-Z]+", " ")

In [12]:
data_text.head()

                                       headline_text  index
0  aba decides against community broadcasting lic...      0
1     act fire witnesses must be aware of defamation      1
2     a g calls for infrastructure protection summit      2
3           air nz staff in aust strike for pay rise      3
4      air nz strike to affect australian travellers      4

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(max_df=0.95, min_df=2,max_features=1000,ngram_range = (1,2),stop_words='english')
vect_text = vect.fit_transform(data_text['headline_text'])

In [17]:
vect_text

<1103663x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 2832986 stored elements in Compressed Sparse Row format>

In [20]:
from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation(n_components=5)
lda_text = lda.fit_transform(vect_text)
lda_text

array([[0.1008043 , 0.10000001, 0.10100984, 0.5979287 , 0.10025716],
       [0.10000014, 0.1       , 0.10000002, 0.10000031, 0.59999952],
       [0.06666668, 0.06666673, 0.06666667, 0.73333325, 0.06666667],
       ...,
       [0.39807424, 0.40182549, 0.06666679, 0.06666678, 0.06676669],
       [0.10000125, 0.10000001, 0.10153724, 0.10352136, 0.59494014],
       [0.06799694, 0.06756398, 0.73065257, 0.06710225, 0.06668426]])

In [21]:
lda.components_

array([[2.01109206e-01, 2.01418073e-01, 2.01423029e-01, ...,
        2.02117121e-01, 2.00555932e-01, 3.22416065e+01],
       [2.01065865e-01, 2.00663508e-01, 2.01231332e-01, ...,
        2.55636168e+03, 1.22519791e+03, 9.28543063e+02],
       [2.90519543e+03, 6.20819685e+03, 2.41111004e+03, ...,
        2.01606101e-01, 2.00573890e-01, 6.35099248e-01],
       [2.01567940e-01, 2.00579426e-01, 2.86013140e-01, ...,
        8.03293250e+00, 2.00304941e-01, 1.93815082e+01],
       [2.00829916e-01, 2.00484350e-01, 2.01290041e-01, ...,
        2.01666902e-01, 2.00659689e-01, 2.04198723e+02]])

In [25]:
import numpy as np
import mglearn as mg  
sorting = np.argsort(lda.components_)[:,::-1] 
features = np.array(vect.get_feature_names()) 
mg.tools.print_topics(topics=range(5), feature_names=features, sorting=sorting, topics_per_chunk=5, n_words=25)

topic 0       topic 1       topic 2       topic 3       topic 4
--------      --------      --------      --------      --------
interview     new           court         council       sydney
wins          man           australian    plan          day
help          police        murder        water         govt
open          says          accused       health        coast
year          australia     police        charged       set
fears         qld           face          report        dies
claims        crash         pm            govt          north
national      death         nt            calls         gold
police        world         trial         boost         house
probe         killed        woman         funding       act
rural         government    abc           group         south
record        car           budget        hospital      ban
mayor         cup           work          indigenous    west
bid           attack        adelaide      rise          test
warning       talks         business      public        residents
weather       school        defends       minister      labor
park          sex           change        support       china
injured       home          tax           fight         big
case          nsw           farmers       gets          canberra
hits          charges       say           guilty        urged
abuse         iraq          end           backs         market
job           country       mining        mp            perth
body          drug          return        service       pay
gas           opposition    election      push          queensland
make          road          says          funds         concerns